* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #ffffff;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: san-serif;
}

.column {
	float: left;
	width: 50%;
	text-align: center;
}

	.column span {
		margin: 0;
		position: absolute;	
		top: 50%;	
	}

#left-timer  {
	left: 25%;
	transform: translate(-50%, -50%);
}

#right-timer {
	left: 75%;
	transform: translate(-50%, -50%);
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.timer {
	font-size: 30vh;
}