@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}

body {
	background: #ffffff;
	overflow: hidden;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

body > div.column {
	flex: 50%;
	text-align: center;
}

body > #left {
	float: left;
}

body > #right {
	float: right;
}

body > .timer {
	font-size: 12rem;
	font-family: sans-serif;
	line-height: 12rem;
}